<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <!-- Font Awesone CDN link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Custom CSS file -->
    <link rel="stylesheet" href="/stylesheets/adminlogin.css">
    <link rel="shortcut icon" href="../images/AaturaMain.png" type="image/x-icon">
</head>
<body>
    <!-- It is For menu top section -->
    <div class="menu-top">
        <div class="menu-top-right">
            <a href="/">
                <img src="/images/AaturaMain.png" alt="logo">
            </a>
        </div>
        
        <div class="menu-top-left">
            <div class="menu-top-left-item">
                <a href=""><i class="fa-brands fa-facebook"></i></a>
            </div>
            
            <div class="menu-top-left-item">
                <a href=""><i class="fa-brands fa-linkedin"></i></a>
            </div>
            <div class="menu-top-left-item">
                <a href=""><i class="fa-brands fa-instagram"></i></a>
            </div>
            <div class="menu-top-left-item">
                <a href=""><i class="fa-brands fa-twitter"></i></a>
            </div>
            <div class="menu-top-left-item">
                <a href=""><i class="fa-solid fa-hospital"></i></a>
            </div>
        </div>
    </div>
    <hr>
    <div class="header">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li id="services"><a href="#services1">Services</a>
                <ul>
                    <li id="hospitalServices"><a href="/patient/patient-login">Hospital Services</a>
                        <ul>
                            <li><a href="/patient/patient-login">Emergency Room Services</a></li>
                            <li><a href="/patient/patient-login">Short Term Hospitalisation</a></li>
                            <li><a href="/patient/patient-login">X-Ray OR Radiology Services</a></li>
                            <li><a href="/patient/patient-login">Blood Services</a></li>
                            <li><a href="/patient/patient-login">Laboratory Services</a></li>
                            <li><a href="/patient/patient-login">Prescription Services</a></li>
                            <li><a href="/patient/patient-login">General & Speciality Surgical Services</a></li>
                            <li><a href="/patient/patient-login">Pediatric Services</a></li>
                            <li><a href="/patient/patient-login">Good Access to Surgical Specialist</a></li>
                            <li><a href="/patient/patient-login">Rehabitations Services</a></li>
                            <li><a href="/patient/patient-login">Home Nursing Services</a></li>
                            <li><a href="/patient/patient-login">Mental HealthCare</a></li>
                            <li><a href="/patient/patient-login">National Counseling</a></li>
                            <li><a href="/patient/patient-login">Genetic Testing & Counseling</a></li>
                            <li><a href="/patient/patient-login">Family Support Services</a></li>
                            <li><a href="/patient/patient-login">Financial Services</a></li>
                            <li><a href="/patient/patient-login">Case Management Services</a></li>
                            <li><a href="/patient/patient-login">Social Work Services</a></li>
    
                        </ul>
                    </li>
                    <li id="ClinicalServices"><a href="/doctor/doctor-login">Clinical Services</a>
                        <ul>
                            <li><a href="/doctor/doctor-login">Orthopaedics</a></li>
                            <li><a href="/doctor/doctor-login">Joint Replacement</a></li>
                            <li><a href="/doctor/doctor-login">Medicine</a></li>
                            <li><a href="/doctor/doctor-login">Trauma</a></li>
                            <li><a href="/doctor/doctor-login">Paediatics</a></li>
                            <li><a href="/doctor/doctor-login">Deratology</a></li>
                            <li><a href="/doctor/doctor-login">Nephrology</a></li>
                            <li><a href="/doctor/doctor-login">Gastrology</a></li>
                            <li><a href="/doctor/doctor-login">Neurology</a></li>
                            <li><a href="/doctor/doctor-login">Pain Management</a></li>
                            <li><a href="/doctor/doctor-login">Blood Services</a></li>
                            <li><a href="/doctor/doctor-login">Cardiology</a></li>
                            <li><a href="/doctor/doctor-login">Psychiatry</a></li>
                            <li><a href="/doctor/doctor-login">Intensice Care Unit (I.C.U)</a></li>
                            <li><a href="/doctor/doctor-login">Gynacology</a></li>
                            <li><a href="/doctor/doctor-login">IVF - Infertility</a></li>
                            <li><a href="/doctor/doctor-login">Maternity</a></li>
                            <li><a href="/doctor/doctor-login">General Surgery</a></li>
                            <li><a href="/doctor/doctor-login">ENT</a></li>
                            <li><a href="/doctor/doctor-login">Cosmetic Surgery</a></li>
                            <li><a href="/doctor/doctor-login">Cuology</a></li>
                            <li><a href="/doctor/doctor-login">Neuro Surgery</a></li>
                            <li><a href="/doctor/doctor-login">Onco Surgery</a></li>
                            <li><a href="/doctor/doctor-login">Dietician</a></li>
                            <li><a href="/doctor/doctor-login">Plastic Surgery</a></li>
                            <li><a href="/doctor/doctor-login">Dialysis</a></li>
                            <li><a href="/doctor/doctor-login">Gastro Surgery</a></li>
                        </ul>
                    </li>
                    <li id="deepartments"><a href="/admin/admin-login">Deepartments</a>
                        <ul>
                                <li><a href="/deepartments/Orthopaedics">Orthopaedics</a></li>
                                <li><a href="/deepartments/JointReplacement">Joint Replacement</a></li>
                                <li><a href="/deepartments/Medicine">Medicine</a></li>
                                <li><a href="/deepartments/Trauma">Trauma</a></li>
                                <li><a href="/deepartments/Paediatics">Paediatics</a></li>
                                <li><a href="/deepartments/Deratology">Deratology</a></li>
                                <li><a href="/deepartments/Nephrology">Nephrology</a></li>
                                <li><a href="/deepartments/Gastrology">Gastrology</a></li>
                                <li><a href="/deepartments/Neurology">Neurology</a></li>
                                <li><a href="/deepartments/PainManagement">Pain Management</a></li>
                                <li><a href="/deepartments/BloodServices">Blood Services</a></li>
                                <li><a href="/deepartments/Cardiology">Cardiology</a></li>
                                <li><a href="/deepartments/Psychiatry">Psychiatry</a></li>
                                <li><a href="/deepartments/IntensiceCare">Intensice Care Unit (I.C.U)</a></li>
                                <li><a href="/deepartments/Gynacology">Gynacology</a></li>
                                <li><a href="/deepartments/IVF">IVF - Infertility</a></li>
                                <li><a href="/deepartments/Maternity">Maternity</a></li>
                                <li><a href="/deepartments/GeneralSurgery">General Surgery</a></li>
                                <li><a href="/deepartments/ENT">ENT</a></li>
                                <li><a href="/deepartments/CosmeticSurgery">Cosmetic Surgery</a></li>
                                <li><a href="/deepartments/Cuology">Cuology</a></li>
                                <li><a href="/deepartments/NeuroSurgery">Neuro Surgery</a></li>
                                <li><a href="/deepartments/OncoSurgery">Onco Surgery</a></li>
                                <li><a href="/deepartments/Dietician">Dietician</a></li>
                                <li><a href="/deepartments/PlasticSurgery">Plastic Surgery</a></li>
                                <li><a href="/deepartments/Dialysis">Dialysis</a></li>
                                <li><a href="/deepartments/GastroSurgery">Gastro Surgery</a></li>
                        </ul>
                    </li>
                    <li id="DiagnosticsServices"><a href="/patient/patient-login">Diagnostics Services</a>
                        <ul>
                            <li><a href="/patient/patient-login">Blood Test</a></li>
                            <li><a href="/patient/patient-login">Urine Test</a></li>
                            <li><a href="/patient/patient-login">Stool Test</a></li>
                            <li><a href="/patient/patient-login">X-Ray</a></li>
                            <li><a href="/patient/patient-login">CT Scan</a></li>
                            <li><a href="/patient/patient-login">MRI</a></li>
                            <li><a href="/patient/patient-login">ECG</a></li>
                            <li><a href="/patient/patient-login">Blood Test</a></li>
                            <li><a href="/patient/patient-login">Urine Test</a></li>
                            <li><a href="/patient/patient-login">Stool Test</a></li>
                            <li><a href="/patient/patient-login">X-Ray</a></li>
                            <li><a href="/patient/patient-login">CT Scan</a></li>
                            <li><a href="/patient/patient-login">MRI</a></li>
                            <li><a href="/patient/patient-login">ECG</a></li>
                        </ul>
                    </li>
                    <li id="LaboratoryServices"><a href="/doctor/doctor-login">Laboratory Services</a>
                        <ul>
                            <li><a href="/doctor/doctor-login">Blood Test</a></li>
                            <li><a href="/doctor/doctor-login">Urine Test</a></li>
                            <li><a href="/doctor/doctor-login">Stool Test</a></li>
                            <li><a href="/doctor/doctor-login">X-Ray</a></li>
                            <li><a href="/doctor/doctor-login">CT Scan</a></li>
                            <li><a href="/doctor/doctor-login">MRI</a></li>
                            <li><a href="/doctor/doctor-login">ECG</a></li>
                        </ul>
                    </li>
                    <li id="TransfusionServices"><a href="/admin/admin-login">Transfusion Services</a>
                        <ul>
                            <li><a href="/admin/admin-login">Blood Test</a></li>
                            <li><a href="/admin/admin-login">Urine Test</a></li>
                        </ul>
                    </li>
                    <li id="hospitalsfunctions"><a href="/patient/patient-login">Function of Hospitals</a>
                        <ul>
                            <li><a href="/patient/patient-login">Emergency Room</a></li>
                            <li><a href="/patient/patient-login">ICU</a></li>
                            <li><a href="/patient/patient-login">OT</a></li>
                            <li><a href="/patient/patient-login">Ward</a></li>
                            <li><a href="/patient/patient-login">OPD</a></li>
                        </ul>
                    </li>
                    <li id="bedtypes"><a href="/doctor/doctor-login">Types Of Bed</a>
                        <ul>
                            <li><a href="/doctor/doctor-login">General Bed</a></li>
                            <li><a href="/doctor/doctor-login">Semi Private Bed</a></li>
                            <li><a href="/doctor/doctor-login">Private Bed</a></li>
                            <li><a href="/doctor/doctor-login">ICU Bed</a></li>
                            <li><a href="/doctor/doctor-login">OT Bed</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><a href="/contact">Contact</a></li> 
            <li id="Login"><a href="/patient/patient-login">LogIn</a>
                <ul>
                    <li><a href="/patient/patient-login">Patients Login</a></li>
                    <li><a href="/doctor/doctor-login">Doctor Login</a></li>
                    <li><a href="/admin/admin-login">Admin Login</a></li>
                </ul>
            </li>
            <li id="register"><a href="/patient/patient-signup">Register</a>
                <ul>
                    <li><a href="/patient/patient-signup">Patients</a></li>
                    <li><a href="/doctor/doctor-signup">Doctor</a></li>
                    <li><a href="/admin/admin-signup">Admin</a></li>
                    <li><a href="/hospital//hospital-registeration">Hospitals</a></li>
                </ul>
            </li>   
        </ul>
    </div>
    <hr>

    <!-- flash msg -->
    
    <!--end:  flash msg -->

    <div class="login">

        <div class="form-container">
            <form id="login-form" action="/admin/admin-login" method="post">
                <h2>Admin Login</h2>
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username" required>
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <!-- <div class="form-group">
                    <label for="role">Role:</label>
                    <select id="role" name="role" required>
                        <option value="patient">Patient</option>
                        <option value="admin">Admin</option>
                        <option value="doctor">Doctor</option>
                    </select>
                </div> -->
                <button type="submit">Login</button>
                <p><a href="/admin/admin-signup">Not yet Registered</a></p>
            </form>
        </div>
    </div>


    <!-- ###################################    FOOTER SECTION  ###################################### -->
    <footer>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#007C9D" fill-opacity="1" d="M0,224L48,229.3C96,235,192,245,288,229.3C384,213,480,171,576,160C672,149,768,171,864,186.7C960,203,1056,213,1152,208C1248,203,1344,181,1392,170.7L1440,160L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path></svg>

        <div class="footer-section">
            <div class="footer-content">
                <div class="footer-heading">
                    <h1>What Would You Like To Do Today?</h1>
                </div>
                <div class="footer-box">
                    <a href="/allDoctors" class="footer-box1">
                        <i class="fa-solid fa-calendar-check"></i>
                        <button>Book Appointment</button>
                    </a>
                    <a href="" class="footer-box2">
                        <i class="fa-solid fa-laptop-medical"></i>
                        <button>consult online</button>
                    </a>
                    <a href="/deepartments/Medicine" class="footer-box3">
                        <i class="fa-solid fa-capsules"></i>
                        <button>Buy medicine</button>
                    </a>
                    <a href="" class="footer-box4">
                        <i class="fa-solid fa-heart-pulse"></i>
                        <button>Book Health checkup</button>
                    </a>
                    <a href="" class="footer-box5">
                        <i class="fa-regular fa-hospital"></i>
                        <button>Find Hospitals</button>
                    </a>
                    <a href="" class="footer-box6">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <button>View Health Record</button>
                    </a>

                    <!-- <div class="footer-box2"></div>
                    <div class="footer-box3"></div>
                    <div class="footer-box4"></div>
                    <div class="footer-box5"></div>
                    <div class="footer-box6"></div> -->
                </div>
            </div>
        </div>


        <div class="footer-bottom">
            <div class="footer1">
                <div class="logo">
                    <a href="">
                        <img src="/images/AaturaMain.png" alt="">
                    </a>
                </div>
                <div class="emergency">
                    <p class="name"> Emergency</p>
                    <!-- <p>For Emergency cases call us at</p> -->
                    <p class="number"><i class="fa-solid fa-phone"></i>1800-000-0000</p>
                </div>
                <div class="emergency">
                    <p class="name"> Aatura Lifeline</p>
                    <!-- <p>For Emergency cases call us at</p> -->
                    <p class="number"><i class="fa-solid fa-phone"></i>1800-000-0000</p>
                </div>
                <div class="emergency">
                    <p class="name"> Health Help Line</p>
                    <!-- <p>For Emergency cases call us at</p> -->
                    <p class="number"><i class="fa-solid fa-phone"></i>1800-000-0000</p>
                </div>
            </div>
            <div class="footer2">
                <div class="footer2-item">
                    <h3>Services Links</h3>
                    <ul>
                        <li><a href="">Emergency Room Services</a></li>
                        <li><a href="">Short Term Hospitalisation</a></li>
                        <li><a href="">X-Ray OR Radiology Services</a></li>
                        <li><a href="">Blood Services</a></li>
                        <li><a href="">Laboratory Services</a></li>
                        <li><a href="">Prescription Services</a></li>
                        <li><a href="">General & Speciality Surgical Services</a></li>
                        <li><a href="">Pediatric Services</a></li>
                        <li><a href="">Good Access to Surgical Specialist</a></li>
                        <li><a href="">Rehabitations Services</a></li>
                        <li><a href="">Home Nursing Services</a></li>
                        <li><a href="">Mental HealthCare</a></li>
                        <li><a href="">National Counseling</a></li>
                        <li><a href="">Genetic Testing & Counseling</a></li>
                        <li><a href="">Family Support Services</a></li>
                        <li><a href="">Financial Services</a></li>
                        <li><a href="">Case Management Services</a></li>
                        <li><a href="">Social Work Services</a></li>
                    </ul>
                </div> 
            </div>
            <!-- <div class="footer3">
                <div class="footer2-item">
                    <h3>Services Links</h3>
                    <ul>
                        
                    </ul>
                </div> 
            </div> -->
            <!-- <div class="footer4">
                <div class="footer2-item">
                    <h3>Services Links</h3>
                    <ul>
                        <li><a href="">Home</a></li>
                        <li><a href="">About Us</a></li>
                        <li><a href="">Services</a></li>
                        <li><a href="">Portfolio</a></li>
                        <li><a href="">Blog</a></li>
                        <li><a href="">Contact Us</a></li>
                    </ul>
                </div> 
            </div> -->
            <div class="footer5">
                <div class="footer5-item">
                    <h3>Departments Links</h3>
                    <ul>
                        <li><a href="/deepartments/orthopaedics"><div>Orthopaedics</div></a></li>
                        <li><a href="/deepartments/JointReplacement"><div>Joint Replacement</div></a></li>
                        <li><a href="/deepartments/Medicine"><div>Medicine</div></a></li>
                        <li><a href="/deepartments/Trauma"><div>Trauma</div></a></li>
                        <li><a href="/deepartments/Paediatics"><div>Paediatics</div></a></li>
                        <li><a href="/deepartments/Deratology"><div>Deratology</div></a></li>
                        <li><a href="/deepartments/Nephrology"><div>Nephrology</div></a></li>
                        <li><a href="/deepartments/Gastrology"><div>Gastrology</div></a></li>
                        <li><a href="/deepartments/Neurology"><div>Neurology</div></a></li>
                        <li><a href="/deepartments/PainManagement"><div>Pain Management</div></a></li>
                        <li><a href="/deepartments/BloodServices"><div>Blood Services</div></a></li>
                        <li><a href="/deepartments/Cardiology"><div>Cardiology</div></a></li>
                        <li><a href="/deepartments/Psychiatry"><div>Psychiatry</div></a></li>
                        <li><a href="/deepartments/IntensiceCare"><div>Intensice Care Unit (I.C.U)</div></a></li>
                        <li><a href="/deepartments/Gynacology"><div>Gynacology</div></a></li>
                        <li><a href="/deepartments/IVF"><div>IVF - Infertility</div></a></li>
                        <li><a href="/deepartments/Maternity"><div>Maternity</div></a></li>
                        <li><a href="/deepartments/GeneralSurgery"><div>General Surgery</div></a></li>
                        <li><a href="/deepartments/ENT"><div>ENT</div></a></li>
                        <li><a href="/deepartments/CosmeticSurgery"><div>Cosmetic Surgery</div></a></li>
                        <li><a href="/deepartments/Cuology"><div>Cuology</div></a></li>
                        <li><a href="/deepartments/NeuroSurgery"><div>Neuro Surgery</div></a></li>
                        <li><a href="/deepartments/OncoSurgery"><div>Onco Surgery</div></a></li>
                        <li><a href="/deepartments/Dietician"><div>Dietician</div></a></li>
                        <li><a href="/deepartments/PlasticSurgery"><div>Plastic Surgery</div></a></li>
                        <li><a href="/deepartments/Dialysis"><div>Dialysis</div></a></li>
                        <li><a href="/deepartments/GastroSurgery"><div>Gastro Surgery</div></a></li>
                    </ul>
                </div> 
            </div>
        </div>


        <div class="last-footer">
            <div class="last-footer-left">
                <p>© 2024 Aatura HealthCare. All Rights Reserved.</p>
            </div>
            <div class="last-footer-right">
                <div class="last-footer-right-item">
                    <a href=""><i class="fa-brands fa-facebook"></i></a>
                </div>
                
                <div class="last-footer-right-item">
                    <a href=""><i class="fa-brands fa-linkedin"></i></a>
                </div>
                <div class="last-footer-right-item">
                    <a href=""><i class="fa-brands fa-instagram"></i></a>
                </div>
                <div class="last-footer-right-item">
                    <a href=""><i class="fa-brands fa-twitter"></i></a>
                </div>
                <div class="last-footer-right-item">
                    <a href=""><i class="fa-solid fa-hospital"></i></a>
                </div>
            </div>
        </div>
    </footer>  
        <hr>
    <script>
          // JavaScript function to close the error message
    function closeErrorMessage() {
        var errorMessage = document.querySelector('.flash-message');
        errorMessage.style.display = 'none';
    }
    </script>
</body>
</html>