<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pediatric</title>
    <link rel="stylesheet" href="../../stylesheets/Deepartments/Paediatics.css">
</head>
<body>
    <%- include('../partials/header') %>

    <h1 class="heading1">Dermatology Department at Aatura Hospital : </h1>
    <h4 class="heading4">At Aatura Hospital, we understand the importance of healthy skin and the impact it has on your overall well-being. Our Dermatology Department is dedicated to providing expert care for all types of skin conditions, from common dermatological issues to complex skin diseases. Led by board-certified dermatologists and supported by a team of skilled healthcare professionals, we offer a comprehensive range of services to help you achieve and maintain healthy skin.</h4>


    <div class="content1">
        <div class="content-left">
            <h3>Our Services : </h3>
            <h4>General Dermatology : </h4>
            <p>Our dermatologists are trained to diagnose and treat a wide range of skin conditions, including acne, eczema, psoriasis, rosacea, and dermatitis. Whether you're dealing with a bothersome rash or a chronic skin condition, we're here to provide personalized treatment options tailored to your needs.</p>

            <h4>Skin Cancer Screening and Treatment : </h4>
            <p>Early detection is key to effectively treating skin cancer. Our dermatologists offer thorough skin cancer screenings to detect suspicious moles and lesions early on. If skin cancer is diagnosed, we provide advanced treatment options, including surgical excision, Mohs micrographic surgery, and topical therapies, to achieve the best possible outcomes.</p>

            <h4>Cosmetic Dermatology : </h4>
            <p> If you're interested in enhancing the appearance of your skin, our dermatologists offer a variety of cosmetic procedures to address common concerns such as wrinkles, age spots, and uneven skin tone. From Botox and fillers to laser therapy and chemical peels, we can help you achieve smoother, more youthful-looking skin.</p>


            <h4>Pediatric Dermatology : </h4>
            <p> Children can experience a variety of skin conditions, from eczema and diaper rash to birthmarks and warts. Our pediatric dermatologists specialize in diagnosing and treating skin issues in infants, children, and adolescents, providing gentle and compassionate care to help your child feel comfortable and confident in their skin.</p>

            <h4>Dermatologic Surgery : </h4>
            <p>Our dermatologists are skilled in performing a wide range of dermatologic surgical procedures to address both medical and cosmetic concerns. Whether you need a skin biopsy, cyst removal, or mole removal, you can trust that you're in capable hands at Aatura Hospital.</p>
        </div>
        <div class="content-right">

        </div>

    </div>
    <div class="content2">
        <div class="cl">
            <h3>State-of-the-Art Facilities : </h3>
            <p>Aatura Hospital is equipped with advanced technology and state-of-the-art facilities to support our Dermatology Department's efforts. From our fully equipped examination rooms to our on-site laboratory and surgical suites, we have the resources needed to provide comprehensive diagnostic and treatment services for all types of skin conditions.</p>
        </div>

    </div>

    <div class="content3">
        <div class="cl">
            <h3>Patient-Centered Care : </h3>
            <p>At Aatura Hospital, we prioritize patient-centered care, focusing on your individual needs and concerns. Our dermatologists take the time to listen to your symptoms, answer your questions, and develop a personalized treatment plan that addresses your specific goals and preferences. We believe in empowering our patients to take an active role in their skincare journey, providing education and support every step of the way.</p>
        </div>
    </div>

    <div class="content4">
        <div class="cl">
            <h3>Contact Us : </h3>
            <p>If you're experiencing a skin issue or have questions about our dermatology services, don't hesitate to reach out to us. Our Dermatology Department is here to help you achieve healthy, radiant skin and feel confident in your appearance. </p>
        </div>
    </div>


    <%- include('../partials/footer') %>
</body>
</html>
