* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
}
.menu-top {
    height: 80px;
    width: 100%;
    /* background-color: #7b1212; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 20px;
}

.menu-top-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.menu-top-right a {
    height: min-content;
    width: 308px;
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
}
.menu-top-right a img {
    mix-blend-mode: multiply;
    height: 80px;
    width: 200px;
    -o-object-fit: cover;
       object-fit: cover;
}
.menu-top-right a:hover {
    color: #ccc;
}
.menu-top-mid {
    display: flex;
    align-items: center;
}
.menu-top-mid .search-area {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;
    margin-left: 150px;
}
.menu-top-mid .search-area input {
    border: none;
    outline: none;
    height: 40px;
    width: 400px;
    padding: 5px;
}
.menu-top-mid .search-area button {
    border: none;
    outline: none;
    height: 40px;
    width: 40px;
    margin: 2px;
    background-color: transparent;
    padding: 5px;
    font-size: 20px;
}
.menu-top-mid .search-area button i {
    color: #000;
}
.menu-top-mid .search-area button:hover {
    background-color: #007C9D;
    border-radius: 5px;
}
.menu-top-mid .search-area button:hover i {
    color: #fff;
}
/* .menu-top-mid .search-area input:focus {
    border: 1px solid #007C9D;
    border-radius: 5px;
}
.menu-top-mid .search-area input::placeholder {
    color: #ccc;
}
.menu-top-mid .search-area input:focus::placeholder {
    color: #007C9D;
} */

.menu-top-left {
    display: flex;
    align-items: center;
}
.menu-top-left .menu-top-left-item {
    height: 40px;
    width: 40px;
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}
.menu-top-left .menu-top-left-item i {
    color: #000;
    font-size: 20px;
}
.menu-top-left .menu-top-left-item:hover {
    background-color: #007C9D;
}
.menu-top-left .menu-top-left-item:hover i {
    color: #fff;
}
.menu-top-left .menu-top-left-item:nth-child(1) {
    margin-left: 0;
}

/* it is for menu bottom  */
.menu-bottom {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.menu-bottom .menu-bottom-left {
    display: flex;
    align-items: center;
}
.menu-bottom .menu-bottom-left .menu-bottom-left-item {
    height: 40px;
    width: 110px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}
.menu-bottom .menu-bottom-left .menu-bottom-left-item a {
    height: 40px;
    width: 110px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #000;
}
.menu-bottom .menu-bottom-left .menu-bottom-left-item:nth-child(3) {
    padding-left: 12px;
}
.menu-bottom .menu-bottom-left .menu-bottom-left-item a:hover {
    background-color: #007C9D;
    color: #fff;
}
.menu-bottom .menu-bottom-left .menu-bottom-left-item i {
    color: #000;
    font-size: 15px;
    margin-left: 5px;
}

 /* Style for the dropdown container */
 .dropdown {
    display: none;
    position: absolute;
    top: 17%;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

/* Style for each dropdown item */
.dropdown a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
    justify-self: center;
    align-items: center;
}

/* Change color on hover */
.dropdown a:hover {
    background-color: #007C9D;
}

/* Style for the main menu items */
.menu-bottom-left-item ul {
    list-style-type: none;
    padding: 0;
}

.menu-bottom-left-item li {
    display: block;
    /* margin-right: 20px; */
}

.menu-bottom-left-item a {
    text-decoration: none;
    color: black;
}

/* Show the dropdown content when the main menu item is hovered */
.menu-bottom-left-item:hover .dropdown {
    display: block;
}

.menu-bottom-right {
    display: flex;
    align-items: center;
}
.menu-bottom-right .menu-bottom-right-item {
    height: 40px;
    width: 100px;
    /* background-color: #fff; */
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}
.menu-bottom-right .menu-bottom-right-item a {
    height: 40px;
    width: 100px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #000;
}
/* .menu-bottom-right .menu-bottom-right-item i {
    color: #000;
    font-size: 20px;
} */
.menu-bottom-right .menu-bottom-right-item a:hover {
    background-color: #007C9D;
}
.menu-bottom-right .menu-bottom-right-item a:hover {
    color: #fff;
}


/* ######################   IT IS FOR MENU BOTTOM   ################################### */

.header {
    height: 50px;
    width: 100%;
    background-color: #007C9D;
    position: relative; /* Add this line */
}
.header ul {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header ul li {
    height: 40px;
    width: 100px;
    text-align: center;
    line-height: 40px;
    list-style: none;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}
.header ul li a {
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    color: white;
}
.header ul li:hover {
    background-color: white;
    color: #007C9D;
    a {
        color: #007C9D;
        transition: all 0.3s ease-in-out;
    }
}
#register:hover ul {
    display: block;
}
#register ul {
    height: 50px;
    width: 150px;
    /* margin-top: 5px; */
    height: min-content;
    width: 200px;
    background-color: #007C9D;
    display: none;
    /* padding: 20px; */
    /* border-radius: 5px; */
    position: absolute; /* Add this line */
    top: 100%; /* Add this line */
    right: 20px; /* Add this line */
    z-index: 999; /* Add this line */
}
#register ul li {
    margin: auto;
    height: 100%;
    width: 70%;
    text-align: center;
    line-height: 40px;
    list-style: none;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}
#register ul li a {
    color: white;
}
#register ul li:hover {
    background-color: white;
    color: #007C9D;
    a {
        color: #007C9D;
        transition: all 0.3s ease-in-out;
    }
}


/* %%%%%%%%%%%%%%%%%%%  It is for login sdection hover content %%%%%%%%%%%%%%%%%%%% */

#Login:hover ul {
    display: block;
}
#Login ul {
    height: 50px;
    width: 150px;
    /* margin-top: 5px; */
    height: min-content;
    width: 200px;
    background-color: #007C9D;
    display: none;
    /* padding: 20px; */
    /* border-radius: 5px; */
    position: absolute; /* Add this line */
    top: 100%; /* Add this line */
    right: 270px; /* Add this line */
    z-index: 999; /* Add this line */
}
#Login ul li {
    margin: auto;
    height: 100%;
    width: 70%;
    text-align: center;
    line-height: 40px;
    list-style: none;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}
#Login ul li a {
    color: white;
}
#Login ul li:hover {
    background-color: white;
    color: #007C9D;
    a {
        color: #007C9D;
        transition: all 1s ease-in-out;
    }
}
/* #############################    IT IS FOR SERVICES DROPDOWN     ####################### */
#services:hover ul {
    display: block;
}
#services ul {
    height: 50px;
    width: 300px;
    height: min-content;
    background-color: #007C9D;
    display: none;
    position: absolute; 
    top: 100%; 
    left: 33%; 
    z-index: 999;
}
#services ul li {
    margin: auto;
    height: 100%;
    width: 70%;
    text-align: center;
    line-height: 40px;
    list-style: none;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}
#services ul li a {
    color: white;
}
#services ul li:hover {
    background-color: white;
    color: #007C9D;
    a {
        color: #007C9D;
        transition: all 0.3s ease-in-out;
    }
}


/* #############################    IT IS FOR HOSPITAL SERVICES DROPDOWN     ####################### */
#services #hospitalServices ul {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
}

#services #hospitalServices:hover ul {
    display: block;
}

#hospitalServices ul {
    height: min-content;
    width: 400px;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 999;
    background-color: #007C9D;
}

#hospitalServices ul li {
    margin: auto;
    height: 100%;
    width: 70%;
    text-align: center;
    line-height: 40px;
    list-style: none;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

#hospitalServices:hover ul li a {
    color: white;
    text-decoration: none;
    display: block;
}

#hospitalServices ul li:hover {
    background-color: white;
}

#hospitalServices ul li:hover a {
    color: #007C9D;
}


/* #############################    IT IS FOR Clinical SERVICES DROPDOWN     ####################### */
#services #ClinicalServices ul {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
}

#services #ClinicalServices:hover ul {
    display: block;
}

#ClinicalServices ul {
    height: min-content;
    width: 300px;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 999;
    background-color: #007C9D;
}

#ClinicalServices ul li {
    margin: auto;
    height: 100%;
    width: 70%;
    text-align: center;
    line-height: 40px;
    list-style: none;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

#ClinicalServices:hover ul li a {
    color: white;
    text-decoration: none;
    display: block;
}

#ClinicalServices ul li:hover {
    background-color: white;
}

#ClinicalServices ul li:hover a {
    color: #007C9D;
}



/* #############################    IT IS FOR deepartments SERVICES DROPDOWN     ####################### */
#services #deepartments ul {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
}

#services #deepartments:hover ul {
    display: block;
}

#deepartments ul {
    height: min-content;
    width: 300px;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 999;
    background-color: #007C9D;
}

#deepartments ul li {
    margin: auto;
    height: 100%;
    width: 70%;
    text-align: center;
    line-height: 40px;
    list-style: none;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

#deepartments:hover ul li a {
    color: white;
    text-decoration: none;
    display: block;
}

#deepartments ul li:hover {
    background-color: white;
}

#deepartments ul li:hover a {
    color: #007C9D;
}



/* #############################    IT IS FOR DiagnosticsServices SERVICES DROPDOWN     ####################### */
#services #DiagnosticsServices ul {
    display: none;
    position: absolute;
    top: 36%;
    left: 100%;
}

#services #DiagnosticsServices:hover ul {
    display: block;
}

#DiagnosticsServices ul {
    height: min-content;
    width: 300px;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 999;
    background-color: #007C9D;
}

#DiagnosticsServices ul li {
    margin: auto;
    height: 100%;
    width: 70%;
    text-align: center;
    line-height: 40px;
    list-style: none;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

#DiagnosticsServices:hover ul li a {
    color: white;
    text-decoration: none;
    display: block;
}

#DiagnosticsServices ul li:hover {
    background-color: white;
}

#DiagnosticsServices ul li:hover a {
    color: #007C9D;
}


/* #############################    IT IS FOR LaboratoryServices SERVICES DROPDOWN     ####################### */
#services #LaboratoryServices ul {
    display: none;
    position: absolute;
    top: 50%;
    left: 100%;
}

#services #LaboratoryServices:hover ul {
    display: block;
}

#LaboratoryServices ul {
    height: min-content;
    width: 300px;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 999;
    background-color: #007C9D;
}

#LaboratoryServices ul li {
    margin: auto;
    height: 100%;
    width: 70%;
    text-align: center;
    line-height: 40px;
    list-style: none;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

#LaboratoryServices:hover ul li a {
    color: white;
    text-decoration: none;
    display: block;
}

#LaboratoryServices ul li:hover {
    background-color: white;
}

#LaboratoryServices ul li:hover a {
    color: #007C9D;
}

/* #############################    IT IS FOR TransfusionServices SERVICES DROPDOWN     ####################### */
#services #TransfusionServices ul {
    display: none;
    position: absolute;
    top: 60%;
    left: 100%;
}

#services #TransfusionServices:hover ul {
    display: block;
}

#TransfusionServices ul {
    height: min-content;
    width: 300px;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 999;
    background-color: #007C9D;
}

#TransfusionServices ul li {
    margin: auto;
    height: 100%;
    width: 70%;
    text-align: center;
    line-height: 40px;
    list-style: none;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

#TransfusionServices:hover ul li a {
    color: white;
    text-decoration: none;
    display: block;
}

#TransfusionServices ul li:hover {
    background-color: white;
}

#TransfusionServices ul li:hover a {
    color: #007C9D;
}


/* #############################    IT IS FOR hospitalsfunctions SERVICES DROPDOWN     ####################### */
#services #hospitalsfunctions ul {
    display: none;
    position: absolute;
    top: 70%;
    left: 100%;
}

#services #hospitalsfunctions:hover ul {
    display: block;
}

#hospitalsfunctions ul {
    height: min-content;
    width: 300px;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 999;
    background-color: #007C9D;
}

#hospitalsfunctions ul li {
    margin: auto;
    height: 100%;
    width: 70%;
    text-align: center;
    line-height: 40px;
    list-style: none;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

#hospitalsfunctions:hover ul li a {
    color: white;
    text-decoration: none;
    display: block;
}

#hospitalsfunctions ul li:hover {
    background-color: white;
}

#hospitalsfunctions ul li:hover a {
    color: #007C9D;
}

/* #############################    IT IS FOR bedtypes SERVICES DROPDOWN     ####################### */
#services #bedtypes ul {
    display: none;
    position: absolute;
    top: 80%;
    left: 100%;
}

#services #bedtypes:hover ul {
    display: block;
}

#bedtypes ul {
    height: min-content;
    width: 300px;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 999;
    background-color: #007C9D;
}

#bedtypes ul li {
    margin: auto;
    height: 100%;
    width: 70%;
    text-align: center;
    line-height: 40px;
    list-style: none;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

#bedtypes:hover ul li a {
    color: white;
    text-decoration: none;
    display: block;
}

#bedtypes ul li:hover {
    background-color: white;
}

#bedtypes ul li:hover a {
    color: #007C9D;
}

/* ##########################3 NAVIGATION TOP ENDS HERE ######################################## */
.heading {
    text-align: center;
    margin: 30px 0 30px 0px;
}
.all-departments {
    height: 80vh;
    width: 100%;
    /* background-color: red; */
}
.all-departments .departments-item {
    height: 100%;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    /* background-color: yellow; */
}
.all-departments .departments-item a {
    text-decoration: none;
    color: #000;
    font-size: 18px;
}

.all-departments .departments-item a div {
    height: 50px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px solid #007C9D;
}
.all-departments .departments-item a div:hover {
    background-color: #007C9D;
    color: #f5f5f5;
}



/* ############################ FOOTER SECTION ####################### */
footer {
    height: 200vh;
    width: 100%;
}
/* footer svg {
    background-color: red;
} */
.footer-section {
    height: 300px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #007C9D;
}
.footer-content {
    height: 100%;
    width: 90%;
    /* background-color: blue; */
}
.footer-heading {
    margin-top: 20px;
    text-align: center;
    color: #fff;
}
.footer-box {
    height: 80%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    /* background-color: red; */
}
.footer-box1 {
    margin: 20px;
    height: 200px;
    -webkit-box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    width: 200px;
    border-radius: 25px;
    background-color: #fff;
}
.footer-box2 {
    margin: 20px;
    -webkit-box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    height: 200px;
    width: 200px;
    border-radius: 25px;
    background-color: #fff;
}
.footer-box3 {
    margin: 20px;
    -webkit-box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    height: 200px;
    width: 200px;
    border-radius: 25px;
    background-color:  #fff;
}
.footer-box4 {
    margin: 20px;
    -webkit-box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    height: 200px;
    width: 200px;
    border-radius: 25px;
    background-color:  #fff;
}
.footer-box5 {
    margin: 20px;
    -webkit-box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    height: 200px;
    width: 200px;
    border-radius: 25px;
    background-color:  #fff;
}
.footer-box6 {
    -webkit-box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    margin: 20px;
    height: 200px;
    width: 200px;
    border-radius: 25px;
    background-color:  #fff;
}
.footer-box button {
    background-color: transparent;
    border: none;
    outline: none;
    height: 40px;
    width: 150px;
    border-radius: 5px;
    margin-top: 20px;
    /* margin-left: 25px; */
    font-size: 15px;
    font-weight: 600;
    color: #000;
    border: 2px solid black;
    cursor: pointer;
}
.footer-box button:hover {
    background-color: #007C9D;
    color: #fff;
    border: none;
}
.footer-box a {
    text-decoration: none;
    color: #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    /* margin-top: 20px;
    margin-left: 25px; */
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.footer-box a i {
    font-size: 70px;
    /* margin-left: 25px; */
    color: #000;
}
.footer-box a:hover i {
    color: #007C9D;
}


/* ############################ FOOTER BOTTOM SECTION ####################### */

.footer-bottom {
    height: 100vh;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #060822;
}
.footer1 {
    height: 100%;
    width: 20%;
    /* background-color: red; */
}
.logo {
    margin: 50px;
    height: 60px;
    width: 200px;
}
.logo img {
    
    height: 60px;
    width: 200px;
    -o-object-fit: cover;
       object-fit: cover;
}
.emergency {
    margin: 50px;
    height: 60px;
    width: 200px;
}
.emergency .name {
    color: #007C9D;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 2px;
    margin-left: 20px;
}
.number {
    color: goldenrod;
}
.emergency p i {
    color: #007C9D;
    font-size: 20px;
    margin-right: 5px;
}
.footer2 {
    height: 100%;
    width: 25%;
    /* background-color: yellow; */
}

 .footer2-item h3 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    color: #007C9D;
}
 .footer2-item ul li a {
    text-decoration: none;
    color: #fff;
    margin-left: 100px;
}
 .footer2-item ul li a:hover {
    color: goldenrod; 
}
 .footer2-item ul li {
    list-style-type: none;
    margin-bottom: 10px;
}
/* .footer3 {
    height: 100%;
    width: 25%;
    background-color: green;
}
.footer4 {
    height: 100%;
    width: 20%;
    background-color: pink;
} */
.footer5 {
    height: 100%;
    width: 20%;
    display: flex;
    /* text-align: center; */
    justify-content: center;
    /* background-color: orange; */
}
.footer5-item h3 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    color: #007C9D;
}
 .footer5-item ul li a {
    text-decoration: none;
    margin-bottom: 5px;
    color: #fff;
}
 .footer5-item ul li a:hover {
    color: goldenrod; 
}
 .footer5-item ul li {
    list-style-type: none;
    margin-bottom: 5px;
    margin-left: 30px;
}

/* ############################ LAST FOOTER SECTION ####################### */

.last-footer {
    height: 87px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #007C9D;
}
.last-footer p {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
}
.last-footer-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 20px;
}
.last-footer-right-item {
    height: 40px;
    width: 40px;
    background-color: #fff;
    border-radius: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 20px;
}
.last-footer-right-item a {
    height: 40px;
    width: 40px;
    border-radius: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-decoration: none;
    color: #000;
}
.last-footer-right-item a:hover {
    background-color: #007C9D;
    color: #fff;
}
.last-footer-right-item i {
    color: #000;
    font-size: 20px;
}
.last-footer-right-item:hover i {
    color: #fff;
}