<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup Page</title>
    <!-- Font Awesone CDN link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Custom CSS file -->
    <link rel="stylesheet" href="/stylesheets/register.css">
    <link rel="shortcut icon" href="../images/AaturaMain.png" type="image/x-icon">
</head>
<body>
     <!-- It is For menu top section -->
    <div class="menu-top">
        <div class="menu-top-right">
            <a href="/">
                <img src="/images/AaturaMain.png" alt="logo">
            </a>
        </div>
        <div class="menu-top-mid">
            <!-- Add this within your form tag -->
            <form action="/search" method="GET">
                <div class="search-area">
                    <input type="text" name="q" id="searchInput" placeholder="Search...">
                    <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                </div>
            </form>
            <!-- Suggestions container -->
            <div id="suggestions">
                <div class="suggestion-content" id="main-container-for-suggestions">

                </div>
            </div> 


            
        </div>
        <div class="menu-top-left">
            <div class="menu-top-left-item">
                <a href=""><i class="fa-solid fa-magnifying-glass"></i></a>
            </div>
            <div class="menu-top-left-item">
                <a href=""><i class="fa-brands fa-facebook"></i></a>
            </div>
            
            <div class="menu-top-left-item">
                <a href=""><i class="fa-brands fa-linkedin"></i></a>
            </div>
            <div class="menu-top-left-item">
                <a href=""><i class="fa-brands fa-instagram"></i></a>
            </div>
            <div class="menu-top-left-item">
                <a href=""><i class="fa-brands fa-twitter"></i></a>
            </div>
            <div class="menu-top-left-item">
                <a href=""><i class="fa-solid fa-hospital"></i></a>
            </div>
        </div>
    </div>
    <hr>
    
<!-- ################################   NEW NAVIGATION MENU ################################# -->

<div class="header">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        
       
        <li id="services"><a href="#services1">Services</a>
            <ul>
                <li id="hospitalServices"><a href="/patient/patient-login">Hospital Services</a>
                    <ul>
                        <li><a href="/patient/patient-login">Emergency Room Services</a></li>
                        <li><a href="/patient/patient-login">Short Term Hospitalisation</a></li>
                        <li><a href="/patient/patient-login">X-Ray OR Radiology Services</a></li>
                        <li><a href="/patient/patient-login">Blood Services</a></li>
                        <li><a href="/patient/patient-login">Laboratory Services</a></li>
                        <li><a href="/patient/patient-login">Prescription Services</a></li>
                        <li><a href="/patient/patient-login">General & Speciality Surgical Services</a></li>
                        <li><a href="/patient/patient-login">Pediatric Services</a></li>
                        <li><a href="/patient/patient-login">Good Access to Surgical Specialist</a></li>
                        <li><a href="/patient/patient-login">Rehabitations Services</a></li>
                        <li><a href="/patient/patient-login">Home Nursing Services</a></li>
                        <li><a href="/patient/patient-login">Mental HealthCare</a></li>
                        <li><a href="/patient/patient-login">National Counseling</a></li>
                        <li><a href="/patient/patient-login">Genetic Testing & Counseling</a></li>
                        <li><a href="/patient/patient-login">Family Support Services</a></li>
                        <li><a href="/patient/patient-login">Financial Services</a></li>
                        <li><a href="/patient/patient-login">Case Management Services</a></li>
                        <li><a href="/patient/patient-login">Social Work Services</a></li>

                    </ul>
                </li>
                <li id="ClinicalServices"><a href="/doctor/doctor-login">Clinical Services</a>
                    <ul>
                        <li><a href="/doctor/doctor-login">Orthopaedics</a></li>
                        <li><a href="/doctor/doctor-login">Joint Replacement</a></li>
                        <li><a href="/doctor/doctor-login">Medicine</a></li>
                        <li><a href="/doctor/doctor-login">Trauma</a></li>
                        <li><a href="/doctor/doctor-login">Paediatics</a></li>
                        <li><a href="/doctor/doctor-login">Deratology</a></li>
                        <li><a href="/doctor/doctor-login">Nephrology</a></li>
                        <li><a href="/doctor/doctor-login">Gastrology</a></li>
                        <li><a href="/doctor/doctor-login">Neurology</a></li>
                        <li><a href="/doctor/doctor-login">Pain Management</a></li>
                        <li><a href="/doctor/doctor-login">Blood Services</a></li>
                        <li><a href="/doctor/doctor-login">Cardiology</a></li>
                        <li><a href="/doctor/doctor-login">Psychiatry</a></li>
                        <li><a href="/doctor/doctor-login">Intensice Care Unit (I.C.U)</a></li>
                        <li><a href="/doctor/doctor-login">Gynacology</a></li>
                        <li><a href="/doctor/doctor-login">IVF - Infertility</a></li>
                        <li><a href="/doctor/doctor-login">Maternity</a></li>
                        <li><a href="/doctor/doctor-login">General Surgery</a></li>
                        <li><a href="/doctor/doctor-login">ENT</a></li>
                        <li><a href="/doctor/doctor-login">Cosmetic Surgery</a></li>
                        <li><a href="/doctor/doctor-login">Cuology</a></li>
                        <li><a href="/doctor/doctor-login">Neuro Surgery</a></li>
                        <li><a href="/doctor/doctor-login">Onco Surgery</a></li>
                        <li><a href="/doctor/doctor-login">Dietician</a></li>
                        <li><a href="/doctor/doctor-login">Plastic Surgery</a></li>
                        <li><a href="/doctor/doctor-login">Dialysis</a></li>
                        <li><a href="/doctor/doctor-login">Gastro Surgery</a></li>
                    </ul>
                </li>
                <li id="deepartments"><a href="/admin/admin-login">Deepartments</a>
                    <ul>
                            <li><a href="/deepartments/Orthopaedics">Orthopaedics</a></li>
                            <li><a href="/deepartments/JointReplacement">Joint Replacement</a></li>
                            <li><a href="/deepartments/Medicine">Medicine</a></li>
                            <li><a href="/deepartments/Trauma">Trauma</a></li>
                            <li><a href="/deepartments/Paediatics">Paediatics</a></li>
                            <li><a href="/deepartments/Deratology">Deratology</a></li>
                            <li><a href="/deepartments/Nephrology">Nephrology</a></li>
                            <li><a href="/deepartments/Gastrology">Gastrology</a></li>
                            <li><a href="/deepartments/Neurology">Neurology</a></li>
                            <li><a href="/deepartments/PainManagement">Pain Management</a></li>
                            <li><a href="/deepartments/BloodServices">Blood Services</a></li>
                            <li><a href="/deepartments/Cardiology">Cardiology</a></li>
                            <li><a href="/deepartments/Psychiatry">Psychiatry</a></li>
                            <li><a href="/deepartments/IntensiceCare">Intensice Care Unit (I.C.U)</a></li>
                            <li><a href="/deepartments/Gynacology">Gynacology</a></li>
                            <li><a href="/deepartments/IVF">IVF - Infertility</a></li>
                            <li><a href="/deepartments/Maternity">Maternity</a></li>
                            <li><a href="/deepartments/GeneralSurgery">General Surgery</a></li>
                            <li><a href="/deepartments/ENT">ENT</a></li>
                            <li><a href="/deepartments/CosmeticSurgery">Cosmetic Surgery</a></li>
                            <li><a href="/deepartments/Cuology">Cuology</a></li>
                            <li><a href="/deepartments/NeuroSurgery">Neuro Surgery</a></li>
                            <li><a href="/deepartments/OncoSurgery">Onco Surgery</a></li>
                            <li><a href="/deepartments/Dietician">Dietician</a></li>
                            <li><a href="/deepartments/PlasticSurgery">Plastic Surgery</a></li>
                            <li><a href="/deepartments/Dialysis">Dialysis</a></li>
                            <li><a href="/deepartments/GastroSurgery">Gastro Surgery</a></li>
                    </ul>
                </li>
                <li id="DiagnosticsServices"><a href="/patient/patient-login">Diagnostics Services</a>
                    <ul>
                        <li><a href="/patient/patient-login">Blood Test</a></li>
                        <li><a href="/patient/patient-login">Urine Test</a></li>
                        <li><a href="/patient/patient-login">Stool Test</a></li>
                        <li><a href="/patient/patient-login">X-Ray</a></li>
                        <li><a href="/patient/patient-login">CT Scan</a></li>
                        <li><a href="/patient/patient-login">MRI</a></li>
                        <li><a href="/patient/patient-login">ECG</a></li>
                        <li><a href="/patient/patient-login">Blood Test</a></li>
                        <li><a href="/patient/patient-login">Urine Test</a></li>
                        <li><a href="/patient/patient-login">Stool Test</a></li>
                        <li><a href="/patient/patient-login">X-Ray</a></li>
                        <li><a href="/patient/patient-login">CT Scan</a></li>
                        <li><a href="/patient/patient-login">MRI</a></li>
                        <li><a href="/patient/patient-login">ECG</a></li>
                    </ul>
                </li>
                <li id="LaboratoryServices"><a href="/doctor/doctor-login">Laboratory Services</a>
                    <ul>
                        <li><a href="/doctor/doctor-login">Blood Test</a></li>
                        <li><a href="/doctor/doctor-login">Urine Test</a></li>
                        <li><a href="/doctor/doctor-login">Stool Test</a></li>
                        <li><a href="/doctor/doctor-login">X-Ray</a></li>
                        <li><a href="/doctor/doctor-login">CT Scan</a></li>
                        <li><a href="/doctor/doctor-login">MRI</a></li>
                        <li><a href="/doctor/doctor-login">ECG</a></li>
                    </ul>
                </li>
                <li id="TransfusionServices"><a href="/admin/admin-login">Transfusion Services</a>
                    <ul>
                        <li><a href="/admin/admin-login">Blood Test</a></li>
                        <li><a href="/admin/admin-login">Urine Test</a></li>
                    </ul>
                </li>
                <li id="hospitalsfunctions"><a href="/patient/patient-login">Function of Hospitals</a>
                    <ul>
                        <li><a href="/patient/patient-login">Emergency Room</a></li>
                        <li><a href="/patient/patient-login">ICU</a></li>
                        <li><a href="/patient/patient-login">OT</a></li>
                        <li><a href="/patient/patient-login">Ward</a></li>
                        <li><a href="/patient/patient-login">OPD</a></li>
                    </ul>
                </li>
                <li id="bedtypes"><a href="/doctor/doctor-login">Types Of Bed</a>
                    <ul>
                        <li><a href="/doctor/doctor-login">General Bed</a></li>
                        <li><a href="/doctor/doctor-login">Semi Private Bed</a></li>
                        <li><a href="/doctor/doctor-login">Private Bed</a></li>
                        <li><a href="/doctor/doctor-login">ICU Bed</a></li>
                        <li><a href="/doctor/doctor-login">OT Bed</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="/contact">Contact</a></li> 
       
        <li id="Login"><a href="/patient/patient-login">Login</a>
            <ul>
                <li><a href="/patient/patient-login">Patients Login</a></li>
                <li><a href="/doctor/doctor-login">Doctor Login</a></li>
                <li><a href="/admin/admin-login">Admin Login</a></li>
            </ul>
        </li>
        <li id="register"><a href="/patient/patient-signup">Register</a>
            <ul>
                <li><a href="/patient/patient-signup">Patients</a></li>
                <li><a href="/doctor/doctor-signup">Doctor</a></li>
                <li><a href="/admin/admin-signup">Admin</a></li>
                <li><a href="/hospital//hospital-registeration">Hospitals</a></li>
            </ul>
        </li> 
       
        
       
    </ul>
     
</div>

    <hr>

    <!-- <div class="register">
        <div class="form-container">
            <form id="registration-form" action="/patient/patient-signup" method="post">
                <h2>Patient Registration</h2>
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="name" required>
                </div>
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username" required>
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="phone">Phone:</label>
                    <input type="tel" id="phone" name="mobile" required>
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" required>
                </div>
            
                <button type="submit">Register</button>
                <p><a href="/patient/patient-login">Already Registered :- Login</a></p>
            </form>
        </div>
    </div> -->

    <% if (errorMessage && errorMessage.length > 0) { %>
        <div class="alert alert-danger">
            <% errorMessage.forEach(function(error) { %>
                <p><%= error %></p>
            <% }); %>
        </div>
    <% } %>

    <% if (successMessage && successMessage.length > 0) { %>
        <div class="alert alert-success">
            <% successMessage.forEach(function(message) { %>
                <p><%= message %></p>
            <% }); %>
        </div>
    <% } %>
    <div class="body">
        <div class="container">
            <header>Registration</header>
    
            <form action="/patient/patient-signup" method="post">
                <div class="form first">
                    <div class="details personal">
                        <span class="title">Personal Details :</span>
    
                        <div class="fields">
                            <div class="input-field">
                                <label for="">Full Name : </label>
                                <input type="text" placeholder="Enter Your Name" name="name" >
                            </div>
    
                            <div class="input-field">
                                <label for="">User Name : </label>
                                <input type="text" placeholder="Enter Username" name="username"  >
                            </div>
    
                            <div class="input-field">
                                <label for="">Mobile : </label>
                                <input type="text" placeholder="Enter Mobile No." name="mobilenumber" >
                            </div>
    
                            <div class="input-field">
                                <label for="">Email : </label>
                                <input type="email" placeholder="Enter Email" name="email" >
                            </div>
    
                            <div class="input-field">
                                <label for="">DOB : </label>
                                <input type="date" placeholder="Enter DOB" name="dob" >
                            </div>
    
                            <!-- <div class="input-field">
                                <label for="">Gender : </label>
                                <input type="text" placeholder="Enter Gender" required>
                            </div> -->
    
                            <div class="input-field">
                                <label for="gender">Gender : </label>
                                <select id="gender" name="gender" >
                                    <option value="">Select Gender</option>
                                    <option value="male">Male</option>
                                    <option value="female">Female</option>
                                    <option value="not_specified">Not Specified</option>
                                </select>
                            </div>
    
                            <!-- <div class="input-field">
                                <label for="">Country : </label>
                                <input type="text" placeholder="Enter Country" required>
                            </div> -->
    
                            
    
                            <div class="input-field">
                                <label for="">State : </label>
                                <input type="text" placeholder="Enter State" name="State" >
                            </div>
    
                            <div class="input-field">
                                <label for="">District : </label>
                                <input type="text" placeholder="Enter District" name="District" >
                            </div>
    
                            <div class="input-field">
                                <label for=""> City : </label>
                                <input type="text" placeholder="Enter City" name="City" >
                            </div>
                            
                            <div class="input-field">
                                <label for="">Pincode : </label>
                                <input type="text" placeholder="Enter Pincode" name="Pincode" >
                            </div>
    
                            <div class="input-field">
                                <label for="">Password : </label>
                                <input type="password" placeholder="Enter Password" name="password" >
                            </div>
    
                            <div class="input-field">
                                <label for="">Confirm Password : </label>
                                <input type="password" placeholder="Enter Confirm Password" name="cpassword" >
                            </div>
                            
                        </div>
    
                        <button class="nextbtn" id="nextbutton">
                            <span class="btntext" type="submit">Register</span>
                        </button>
    
                        <!-- <button class="register" type="submit">Register</button> -->
                        <p class="loginlink"><a href="/patient/patient-login">Already Registered :- Login</a></p>
                    </div>
                </div>
    
    
    <!-- #########################  SECOND  SLIDE OF FORM ################################## -->
    
                <!-- <div class="form second">
                    <div class="details personal">
                        <span class="title">Services  :</span>
    
                        <div class="fields">
                            <div class="input-field">
                                <label for="">Hospital Services : </label>
                                <input type="checkbox">
                            </div>
    
                            <div class="input-field">
                                <label for="">Clinical Services : </label>
                                <input type="checkbox">
                            </div>
    
                            <div class="input-field">
                                <label for="">Deepartments : </label>
                                <input type="checkbox">
                            </div>
    
                            <div class="input-field">
                                <label for="">Diagonostic : </label>
                                <input type="checkbox">
                            </div>
    
                            <div class="input-field">
                                <label for="">Laboratory : </label>
                                <input type="checkbox">
                            </div>
    
                            <div class="input-field">
                                <label for="">Transfussion : </label>
                                <input type="checkbox">
                            </div>
    
    
                            <div class="input-field">
                                <label for="">Function of Hospital : </label>
                                <input type="checkbox">
                            </div>
    
                            <div class="input-field">
                                <label for="">Bed : </label>
                                <input type="checkbox">
                            </div>
    
                            
                        </div>
    
                        <div class="buttons">
                            <div class="backbtn">
                                <span class="btntext">Back</span>
                            </div>
    
                            <div class="nextbtn2">
                                <span class="btntext">Next</span>
                            </div>
    
                        </div>
    
                    </div>
                </div> -->


<!-- ########################## THIRD SLIDES OF FORM    ################################ -->
                <!-- Third Slide of Form -->
                <!-- <div class="form third">
                    <div class="details services">
                        <span class="title">Selected Services:</span>
                        <div class="fields" id="selectedServices">
                            
                        </div>
                    </div>
                </div> -->

            </form>
        </div>
    </div>

<!-- #####################  FOOTER SECTION STARTS HERE ############################################## -->

    <footer>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#007C9D" fill-opacity="1" d="M0,224L48,229.3C96,235,192,245,288,229.3C384,213,480,171,576,160C672,149,768,171,864,186.7C960,203,1056,213,1152,208C1248,203,1344,181,1392,170.7L1440,160L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path></svg>
        <div class="last-footer">
            <div class="last-footer-left">
                <p>© 2024 Atura HealthCare. All Rights Reserved.</p>
            </div>
            <div class="last-footer-right">
                <div class="last-footer-right-item">
                    <a href=""><i class="fa-brands fa-facebook"></i></a>
                </div>
                
                <div class="last-footer-right-item">
                    <a href=""><i class="fa-brands fa-linkedin"></i></a>
                </div>
                <div class="last-footer-right-item">
                    <a href=""><i class="fa-brands fa-instagram"></i></a>
                </div>
                <div class="last-footer-right-item">
                    <a href=""><i class="fa-brands fa-twitter"></i></a>
                </div>
                <div class="last-footer-right-item">
                    <a href=""><i class="fa-solid fa-hospital"></i></a>
                </div>

            </div>
        </div>
    </footer>
    <script src="../javascript/register.js"></script>
</body>
</html>